<!--
 * @Author: Lucifer
 * @Date: 2022-04-10 20:27:36
 * @LastEditTime: 2022-05-01 12:45:24
 * @FilePath: \yiyanyun\app\admin\view\proclone.html
-->
{include file='public/header'/}
<main class="lyear-layout-content">

    <div class="container-fluid p-t-15">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">克隆向导</div>
                    </div>
                    <div class="card-body">
                        <p>使用克隆的需谨慎，小服务器建议手动克隆，因为所克隆的项目数据量过大可能会导致长时间的带宽占用，或您也可在用户不活跃阶段进行操作以免发生业务的影响。</p>
                        <p>项目克隆为跨域跨服务器克隆，可克隆项目配置，用户，单双卡密，代理暂不支持克隆</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{include file='public/footer'/}

<script type="text/javascript" src="/static/js/jquery.bootstrap.wizard.min.js"></script>

</script>